.form-wrapper{
	background-color: #eee;
	padding: 20px;
}

.note-editable{
	background-color: #fff;
}

.chosen-container, .chosen-container-multi{
	width: 100% !important;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.img{
	border: 4px #fff solid;
	max-width: 200px;
	max-height: 200px;
}

.estado{
    border: 1px solid #ECECEC;
    border-radius: 0px;
    color: #FFF;
    font-size: 28px;
    font-weight: bold;
    height: 50px;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    width: 90%;
}